<div id="header_logo_container">
	<%= image_tag 'app/ui/badges/header.png', width: 68, height: 70, id: 'header_logo_background' %>
	<a href="<%= url_for controller: :splash, action: :index %>" id="header_logo">
		<%= image_tag 'app/logos/splash.png', width: 44, height: 26 %>
	</a>
</div>