<% content_for :header_actions do %>
	<a id="csv_delete_all_btn" href="#" class="section_action" data-overlay="<%= t "app.admin.actions.delete_all" %>">
		<%= image_tag 'admin/icons/section_actions/delete_all.png', width: 24, height: 24 %>
    </a>
<% end %>
<%= render partial 'admin/shared/csv/section', locals: { opts: opts } %>