(function(){
	$(function(){
		app.km.map = {};
		$.extend(app.km.map, {
			parent: app.km,
			view: null,
			root: null,
			config: null,
			map: null,
			location: {
				lat: null,
				lng: null
			},
			layer_panel: null,
			init: function(){
				this.initView();
				this.initRoot();
				this.initConfig();
				this.initContainer();
				this.initGoogleMaps();
				this.initLayerPanel();
			},
			initLayerPanel: function(){
				this.layer_panel = {};
				$.extend(this.layer_panel, {
					parent: this,
					root: null,
					view: null,
					map: this,
					container: null,
					wrapper: null,
					clear_div: null,
					actions: null,
					triggers: [],
					init: function(){
						this.initRoot();
						this.initView();
						this.initContainer();
					},
					initContainer: function(){
						this.container = $('<div id="km_map_layer_panel"></div>');
						this.initActions();
						this.initWrapper();
						this.container.addClass('km_panel');
						this.container.appendTo(this.view.container);
					},
					render: function(){
						if(this.triggers.length == 0) this.hide();
						else this.show();
					},
					removeTriggers: function(){
						var trigger = this.triggers.pop();
						while(trigger != null){
							trigger.remove();
							trigger = this.triggers.pop();
						}
						this.render();
					},
					addTrigger: function(trigger){
						this.triggers.push(trigger);
						trigger.container.insertBefore(this.clear_div);
					},
					initWrapper: function(){
						this.wrapper = $('<div id="km_map_layer_panel_wrapper"></div>');
						this.initClearDiv();
						this.wrapper.appendTo(this.container);
					},
					initClearDiv: function(){
						this.clear_div = $('<div class="clear"></div>');
						this.clear_div.appendTo(this.wrapper);
					},
					initActions: function(){
						var actions = {};
						$.extend(actions, {
							parent: this,
							root: null,
							view: null,
							map: null,
							container: null,
							init: function(){
								this.initRoot();
								this.initView();
								this.initMap();
								this.initContainer();
							},
							initContainer: function(){
								this.container = $('<div class="km_panel_actions"></div>');
								this.initCloseAction();
								this.container.append('<div class="clear"></div>');
								this.container.appendTo(this.parent.container);
							},
							initCloseAction: function(){
								var _self = this;
								var action = this.getAction('close');
								this.root.click(action, function(e, element){
									_self.closeActionOnClick(e, element);
								});
							},
							closeActionOnClick: function(e, element){
								this.view.elements.setActive(null);
							},
							getAction: function(key){
								var icons = this.view.config.panel.actions;
								var src = icons[key];
								var action = $('<a href="#" class="km_panel_action"></a>');
								var icon = $('<img />', {
									src: src
								});
								icon.appendTo(action);
								action.appendTo(this.container);
								return action;
							},
							initRoot: function(){
								this.root = this.parent.root;
							},
							initView: function(){
								this.view = this.parent.view;
							},
							initMap: function(){
								this.map = this.parent.map;
							}
						});
						actions.init();
					},
					initRoot: function(){
						this.root = this.parent.root;
					},
					initView: function(){
						this.view = this.parent.view;
					},
					show: function(){
						this.container.css('display', 'block');
					},
					hide: function(){
						this.container.css('display', 'none');
					}
				});
				this.layer_panel.init();
			},
			initConfig: function(){
				this.config = this.view.config.map;
			},
			initContainer: function(){
				this.container = $('<div id="km_map"></div>');
				this.container.appendTo(this.view.container);
			},
			initView: function(){
				this.view = this.parent;
			},
			initRoot: function(){
				this.root = this.parent.root;
			},
			initGoogleMaps: function(){
				var _self = this;
				this.root.google_maps_loader.load(function(){
					_self.googleMapsOnLoad();
				});
			},
			googleMapsOnLoad: function(){
				this.initMap();
				this.view.ready();
			},
			initMap: function(){
				var styles = this.parent.map_styles;
				styles.initList();
				var center = new google.maps.LatLng(this.config.map.lat, this.config.map.lng);
				var container = this.container.get(0);
				this.map = new google.maps.Map(container, 
					$.extend({
						center: center,
						mapTypeControlOptions: {
							mapTypeIds: styles.key_list
						}
					}, this.config.map.opts)
				);
				styles.setMap(this.map);
				var list = styles.list;
				var style = null;
				$.each(list, function(key, el){
					style = el;
					return false;
				});
				if(style != null) this.setStyle(style);
			},
			center: function(){
				var location = new google.maps.LatLng(this.location.lat, this.location.lng);
				var zoom = this.config.map.opts.zoom;
				this.map.panTo(location);
				this.map.setZoom(zoom);
			},
			setLocation: function(opts){
				if(opts.lat != this.location.lat && opts.lng != this.location.lng){
					$.extend(this.location, opts);
					var location = new google.maps.LatLng(this.location.lat, this.location.lng);
					this.map.panTo(location);
				}
			},
			setStyle: function(which){
				if(which != this.style){
					this.style = which;
					this.map.setMapTypeId(this.style.gm_key);
				}
			}
		});
		app.km.map.init();
	});
})(jQuery);