#performance_result_show_container{
  .performance_result_show_section{
    margin: 0 0 20px 0;
    &.last{
      margin: 0 0 0 0;
    }
  }
  .performance_result_show_chart{
		margin: 0 20px;
		border-left: 1px solid #E4E4E4;
		border-right: 1px solid #E4E4E4;
		border-bottom: 1px solid #E4E4E4;
    height: 300px;
  }
}
