@import "admin/shared.css.scss";

body{
	background: none repeat scroll 0 0 $sidebar-color;
	font-family: $font-family;
}

/** buttons */

@include link('.button') {
	text-decoration: 0 none;
	@include background-gradient($from-base, $to-base);
	padding: 7px 10px;
	color: #FFFFFF;
	display: block;
	font-size: 14px;
	cursor: pointer;
}
.button:hover{
	@include background-gradient($from-base, $to-hover);
}

@include link('.button.disabled') {
	@include background-gradient($from-base, $to-base);
	cursor: auto;
	color: $base-disabled;
}
