<div class="panel_wrapper first">
	<div class="panel_header">
		<div class="panel_title_wrapper">
			<h1 class="panel_title"><%= t 'app.views.about.map.title' %></h1>
			<div class="clear"></div>
		</div>
		<p class="panel_subtitle"><%= t 'app.views.about.map.legend' %></p>
	</div>
	<div class="panel_content">
		<div id="about_map"></div>
	</div>
</div>