@import 'app/shared.css.scss';
#about{
	padding: 0 50px;
	height: 100%;
	#about_map{
		width: 100%;
		height: 430px;
		margin: 0 auto;
		display: block;
	}
	#about_elements{
		width: 830px;
		margin: 0 auto;
	}
	.about_element{
		float: left;
		width: 160px;
		margin: 0 3px;
		.about_element_header{
			@include background-gradient($from-base, $to-base);
			width: 160px;
			height: 150px;
			position: relative;
		}
		.about_element_title_container{
			height: 60px;
			background: none repeat scroll 0 0 #DDDDDD;
			h1.about_element_title{
				font-weight: $bold;
				font-size: 20px;
				text-align: center;
				display: block;
				color: #444444;
				padding: 18px 0 0 0;
			}
		}
		.about_element_content{
			background: none repeat scroll 0 0 #ECECEC;
			height: 190px;
			padding: 10px;
			border-bottom: 1px solid #ADADAD;
			p{
				font-size: 12px;
				color: #545454;
				line-height: 1.3em;
				text-align: center;
			}
		}
	}
}