@import 'app/shared.css.scss';
#km{
	position: absolute;
	width: 100%;
	height: 100%;
	#km_map{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	#km_panel_container{
		position: absolute;
		right: 0;
		top: 20px;
	}
	.km_info_window_wrapper{
		font-size: 12px;
		color: #444444;
		.km_info_element{
			display: block;
			margin: 0 0 5px 0;
			b{
				font-weight: $bold;
			}
			.km_info_separation{
				margin: 0 0 0 3px;
			}
			.km_info_float_label{
				float: left;
				display: block;
			}
			.km_info_element_icon{
				width: 12px;
				height: 12px;
				display: block;
				float: left;
				margin: 0px 0 0 5px;
			}
		}
	}
	.km_panel{
		@include box-shadow(-1px, 1px, 3px, #BBBBBB);
		background: none repeat scroll 0 0 #FFFFFF;
		display: none;
		&#km_map_layer_panel{
			@include box-shadow(-1px, 1px, 3px, #BBBBBB);
			width: 700px;
			height: 80px;
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -350px;
			#km_map_layer_panel_wrapper{
				margin: 30px 0 0 0;
				padding: 0 20px 0 20px;
			}
		}
		@include link('a.km_map_layer_trigger') {
			border: 0 none;
			outline: none;
			display: block;
			float: left;
			margin: 0 10px 10px 0;
			cursor: pointer;
		}
		a.km_map_layer_trigger{
			span.km_map_layer_trigger_color{
				@include border-radius(2px, 2px, 2px, 2px);
				width: 16px;
				height: 12px;
				display: block;
				float: left;
			}
			span.km_map_layer_trigger_label{
				float: left;
				font-size: 12px;
				color: #444444;
				margin: 0 0 0 5px;
			}
			&.disabled{
				span.km_map_layer_trigger_label{
					color: #CCCCCC;
				}
			}
		}
		&.km_left_panel{
			@include box-shadow(1px, 1px, 3px, #BBBBBB);
			width: 600px;
			height: 400px;
			position: absolute;
			left: 0px;
			top: 30px;
			.km_panel_content{
				padding: 15px 15px;
				.km_panel_content_element{
					margin: 0 0 20px 0;
					padding: 0 0 25px 0;
					border-bottom: 1px solid #CCCCCC;
					&.last{
						border-bottom: 0 none;
					}
					.km_panel_content_link_input{
						color: #999999;
						width: 100%;
						background: none repeat scroll 0 0 #FFFFFF;
						border: 1px solid #D3D3D3;
						width: 558px;
						padding: 2px 5px;
					}
					input[type="text"].km_panel_content_link_input{
						font-size: 22px;
					}
					textarea.km_panel_content_link_input{
						height: 30px;
						font-size: 13px;
						font-family: $font-family;
						height: 120px;
					}
				}
				h1.km_panel_content_title{
					font-size: 18px;
					color: #444444;
					padding: 0 0 20px 0;
				}
				.km_panel_content_title_label{
					float: left;
					margin: 0 0 0 5px;
					display: block;
				}
				.km_panel_content_title_icon{
					display: block;
					width: 18px;
					height: 18px;
					float: left;
				}
			}
		}
		&#km_chart_panel{
			#km_chart_panel_wrapper{
				width: 100%;
				height: 370px;
				position: relative;
			}
			.km_chart_panel_chart_element{
				position: absolute;
				width: 100%;
				height: 100%;
			}
			.km_chart_panel_chart_element_wrapper{
				position: absolute;
				width: 100%;
				height: 100%;
			}
			.km_chart_panel_chart_loader{
				display: none;
				width: 35px;
				height: 35px;
				position: absolute;
				left: 50%;
				top: 50%;
				margin-left: -17px;
				margin-top: -17px;
			}
			h1.km_chart_panel_chart_error{
				display: none;
				width: 490px;
				height: 16px;
				position: absolute;
				left: 50%;
				top: 50%;
				margin-left: -245px;
				margin-top: -8px;
				color: #A30000;
				text-align: center;
				font-size: 12px;
			}
		}
		&#km_panel{
			width: 250px;
			height: 320px;
			&.km_panel_header_title{
				width: 190px;
			}
		}
		&#km_small_panel{
			width: 40px;
			height: 195px;
			.km_panel_header_actions{
				margin: 9px 15px 0 0;
			}
		}
		.km_panel_actions{
			position: absolute;
			right: 10px;
			top: 3px;
		}
		@include link('a.km_panel_action') {
			border: 0 none;
			outline: none;
			display: block;
			float: right;
			width: 14px;
			height: 14px;
			margin: 0 0 0 5px;
			overflow: hidden;
			position: relative;
			cursor: pointer;
		}
		a.km_panel_action{
			img{
				width: 14px;
				height: 28px;
				position: absolute;
				left: 0px;
				top: 0px;
			}
			&:hover{
				img{
					top: -14px;
				}
			}
		}
		.km_panel_header{
			height: 30px;
			@include background-gradient($from-base, $to-base);
			border-bottom: 1px solid #1E5998;
		}
		.km_panel_header_title{
			float: left;
			color: #FFFFFF;
			font-weight: $bold;
			font-size: 12px;
			margin: 8px 0 0 10px;
			width: 180px;
		}
		.km_panel_header_actions{
			float: right;
			margin: 8px 7px 0 0;
		}
		@include link('a.km_panel_header_action') {
			border: 0 none;
			outline: none;
			width: 14px;
			height: 14px;
			display: block;
			cursor: pointer;
			float: left;
			margin: 0 0 0 6px;
		}
		a.km_panel_header_action{
			img.km_panel_header_action_img{
				width: 14px;
				height: 14px;
				display: block;
				border: 0 none;
				outline: none;
			}
		}
		.km_panel_small_element{
			position: relative;
			width: 40px;
			height: 40px;
			border-bottom: 1px solid #CCCCCC;
		}
		@include link('a.km_panel_small_element_trigger') {
			border: 0 none;
			outline: none;
			display: block;
			position: absolute;
			overflow: hidden;
			width: 30px;
			height: 30px;
			left: 50%;
			top: 50%;
			margin-left: -15px;
			margin-top: -15px;
			cursor: pointer;
		}
		a.km_panel_small_element_trigger{
			img{
				display: block;
				border: 0 none;
				outline: none;
				width: 30px;
				height: 60px;
				position: absolute;
				left: 0px;
				top: 0px;
			}
			&:hover, &.active{
				img{
					top: -30px;
				}
			}
		}
		.km_panel_element{
			position: relative;
			&.full{
				width: 100%;
				height: 80px;
				border-bottom: 1px solid #CCCCCC;
				.km_panel_element_title{
					left: 10px;
					top: 3px;
				}
				.km_panel_element_actions{
					right: 10px;
					top: 3px;
				}
				img.main_icon{
					width: 55px;
					height: 45px;
				}
			}
			&.small{
				width: 80px;
				height: 110px;
				float: left;
				margin: 0 0 0 2px;
				.km_panel_element_stat, .km_panel_element_unit{
					left: 50%;
					width: 70px;
					margin-left: -35px;
					text-align: center;
				}
				.km_panel_element_stat{
					font-size: 15px;
					top: 56px;
				}
				.km_panel_element_unit{
					font-size: 11px;
					top: 75px;
				}
				.km_panel_element_title{
					left: 9px;
					top: 6px;
				}
				.km_panel_element_actions{
					right: 4px;
					top: 92px;
				}
				img.main_icon{
					width: 30px;
					height: 30px;
					top: 22px;
					left: 50%;
					margin-left: -15px;
				}
			}
			&.shops{
				.km_panel_element_stat, .km_panel_element_unit{
					left: 115px;
				}
				.km_panel_element_stat{
					width: 120px;
					font-size: 30px;
					top: 20px;
				}
				.km_panel_element_unit{
					width: 120px;
					font-size: 13px;
					top: 55px;
				}
				img.main_icon{
					left: 40px;
					top: 25px;
				}
			}
			&.loading{
				border-bottom: 0 none;
				.km_panel_element_stat, .km_panel_element_unit{
					left: 80px;
					width: 80px;
					&.second{
						left: 160px;
					}
				}
				.km_panel_element_stat{
					font-size: 20px;
					top: 30px;
				}
				.km_panel_element_unit{
					font-size: 11px;
					top: 55px;
				}
				img.main_icon{
					left: 10px;
					top: 23px;
				}
			}
		}
		.km_panel_element_title{
			color: #444444;
			font-size: 11px;
			position: absolute;
			display: block;
		}
		.km_panel_element_actions{
			position: absolute;
		}
		@include link('a.km_panel_element_action') {
			cursor: pointer;
			border: 0 none;
			position: relative;
			float: right;
			width: 14px;
			height: 14px;
			overflow: hidden;
			margin: 0 0 0 10px;
		}
		a.km_panel_element_action{
			img{
				width: 14px;
				height: 28px;
				position: absolute;
				left: 0px;
				top: 0px;
			}
			&:hover, &.active{
				img{
					top: -14px;
				}
			}
		}
		img.main_icon{
			position: absolute;
		}
		.km_panel_element_stat, .km_panel_element_unit{
			color: #444444;
			position: absolute;
		}
	}
	.km_panel_separator{
		background: none repeat scroll 0 0 #75ACD7;
		height: 18px;
		h1.km_panel_separator_title{
			color: #FFFFFF;
			font-size: 11px;
			text-align: center;
			display: block;
			padding: 3px 0 0 0;
		}
	}
}