<div class="about_element">
	<div class="about_element_header">
		
	</div>
	<div class="about_element_title_container">
		<h1 class="about_element_title"><%= el[:title].html_safe %></h1>
	</div>
	<div class="about_element_content">
		<p><%= el[:content].html_safe %></p>
	</div>
</div>