<div id="main_loader">
	<div id="main_loader_sprite" data-width="160" data-src="<%= image_url 'shared/loaders/loader20x20.png' %>"></div>
	<h1 id="main_loader_label"><%= t "app.admin.messages.loading" %></h1>
</div>