<% content_for :head do %>
	<%= stylesheet_link_tag 'app/views/about' %>
	<%= javascript_include_tag 'app/views/about' %>
<% end %>
<div id="about">
	<div class="panel view">
		<%= render partial: 'about/map/map' %>
		<%= render partial: 'about/data/data' %>
	</div>
</div>