<table id="splash_table" class="fmx_table">
	<thead>
		<tr>
			<th></th>
			<%= render partial: 'splash/table/th', locals: { key: 'population' } %>
			<%= render partial: 'splash/table/th', locals: { key: 'area' } %>
			<%= render partial: 'splash/table/th', locals: { key: 'density' } %>
			<%= render partial: 'splash/table/th', locals: { key: 'bigmac' } %>
			<th class="splash_table_actions"></th>
		</tr>
	</thead>
	<tbody></tbody>
</table>